
:root{
  --color-0: #282a2e;
    --color-1: #a54242;
    --color-2: #8c9440;
    --color-3: #de935f;
    --color-4: #5f819d;
  --color-5: #85678f;
}

* {
    margin: 0;
    padding: 0;
  background-color: var(--color-0);
  color : var(--color-5);
  list-style-type: none;
}
/* utility styles */
svg {
  max-width: 1rem;
  fill: var(--color-4);
}

p {
  color: var(--color-2);
}

li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li span {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

li a {
  width: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* navigation */
nav{
  margin: 0;
  padding: 1rem;
  max-width: 100vw;
  border-bottom: 1px solid var(--color-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
}
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  margin: 0;
  padding: 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  }

.main .dirs, .singles {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.dirs {
  border-bottom: 1px solid var(--color-1)
}

.dirs .dir, .singles .single  {
  padding-top: .5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.dir .controls, .singles .single {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.single span {
  width: 70%;
}

.controls p {
  width: 50%;
}

.controls .accordion {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel li {
  padding-top: .5rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover, li a:hover {
  background-color: var(--color-2);
}

.accordion svg:hover, li a svg:hover {
  fill: var(--color-2);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  width: 95%;
  padding: 1rem;
  display: none;
  overflow: hidden;
  transition: ease-in-out .5s;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 